{% extends "base.html" %}
{% block title %}{{ profile_user.get_full_name }}{% endblock %}
{% block header %}Профиль пользователя {{ profile_user.get_full_name }}{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                {% include "includes/card_author.html" %}
            </div>

            <div class="col-md-9">
                {% for post in page %}
                <!-- Начало блока с отдельным постом -->
                    {% include "includes/card_post.html" %}
                <!-- Конец блока с отдельным постом -->
                {% endfor %}

                <!-- Остальные посты -->

                <!-- Здесь постраничная навигация паджинатора -->
                {% include "includes/paginator.html" %}

     </div>
    </div>
</main>


{% endblock %}